

/*
COLORS:

Light purple: #b6afec   
Medium purple: #8982db
Dark purple: #4d40b2
Green: #d2e188
Cream: #fff8de

*/

$color-primary:#0041c4;
$color-primary-light:#1678e7;
$color-primary-dark: #043392;
$color-highlight:#ffa175;
$color-white: #fff;
$color-white-2: #f1f2f7;
$color-gray: #414957;
$color-gray-med: #8f979f;
$color-gray-dark:#353a44;
$color-green: #88e1a6;
//$color-primary-light:#87bfff;

// GRID
$grid-width: 120rem;
// $gutter-vertical: 1rem;
// $gutter-horizontal: 1rem;