.header {
    position: relative;
    height: 95vh;
    overflow: hidden;

    @include respond(phone) {
        height: 100vh;
    }

    &__shade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/shade.svg);
        background-repeat: no-repeat;
    }

    &__middle-2 {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);
    }

    &__textbox {
        max-width: 55rem;
        width: fit-content;
        position: absolute;
        top: 35%;
        left: 12%;
        transform: translateZ(0);
        @include respond(phone) {
            top: 35%;
            left: 50%;
        }
        &-content {
            color: $color-primary;
        }
        &-text {
            color: $color-gray-dark;
            margin-top: 3rem;
            font-size: 120%;
        }
    }

    &__display {
        width: 33%;
        position: absolute;
        bottom: 7%;
        right: 10%;

        @include respond(tab-land) {
            left: 15%;
        }
        @include respond(tab-port) {
            left: 10%;
        }
        @include respond(phone) {
            height: 55vh;
            width: auto;
            left: 55%;
        }
        
    }

    
    &__back,
    &__fore {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
    } 

    &__back {
        bottom: 0;
        // height: 70vh;
        background-size: cover;
        background-image: url(../img/back.svg);
        @include respond(phone) {
            background-size: 70rem;
            bottom: 0rem;
        }
    }
    
    &__fore {
        position: absolute;
        background-size: 90rem;
        bottom: -8rem;
        height: 100%;  
        width: 100%;
        background-position : 100% 100%;
        background-image: url(../img/fore-bg.svg);
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;          /* Firefox */
        image-rendering: -o-crisp-edges;            /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
        -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
        
        // background-color:rgba(green,0.55);
        @include respond(phone) {
            background-size: 70rem;
            bottom: -10rem;
        }
    }
}